@media (min-width: 300px) and (max-width: 850px){
    .projects{
        margin-top: -10em;
    }

    .footer{
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 300px) and (max-width: 790px){
    .projects__circle > i{
        display: none;
    }

    .projects__list{
        margin-left: -600px;
    }
}

@media (min-width: 300px) and (max-width: 670px){
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__article{
        display: flex;
        flex-direction: column;
    }

    .picture__imgSource{
        margin-top: 1.5em;
        margin-bottom: 2em;
    }

    .projects__list{
        padding-top: 10em;
        margin: auto;
    }

    .projects__list > h2{
        margin-left: -2em;
    }

    .footer{
        position: absolute;
    bottom: 0;
    }
}

@media (min-width: 300px) and (max-width: 445px){
    body{
        overflow-x: hidden;
    }

    .intro__paragraph{
        padding-left: 1em;
    }

    .intro__title.-projects{
        padding-left: 1em;
    }

    .footer{
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 300px) and (max-width: 420px){
    .intro__paragraph{
        font-size: .90em;
        padding-left: 1em;
    }

    .footer{
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 300px) and (max-width: 375px){
    .intro__paragraph{
        font-size: .80em;
    }

    .projects__list{
        margin-bottom: 1em;
    }

    /* header > div > h1{
        display: block;
        font-size: 1em;
    } */

    header{
        display: flex;
        flex-direction: column;
        gap: .90em;
    }

    .footer{
        position: absolute;
    }
}


